[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xarray = "*"
numpy = "*"
matplotlib = "*"
netcdf4 = "*"
openpyxl = "*"
geopy = "*"

[dev-packages]

[requires]
python_version = "3.9"
